<ion-tabs  class="ion-no-border">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Cambiar Casino</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2"  *ngIf="this.valdidaSession">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Minuta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
