<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{branch.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<img src={{this.imagenDeFondo}} alt="">

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="attach-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    <ion-fab-button  color="light" (click)="verSugerenciaDelChef()"><ion-icon name="pizza-outline"></ion-icon></ion-fab-button>

    
  </ion-fab-list>
  
  
</ion-fab>

<ion-segment (ionChange)="segmentChanged($event)" #mySegment >
  <ion-segment-button value="Desayuno">
    <ion-label>Desayuno</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Almuerzo">
    <ion-label>Almuerzo</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Cena Tarde">
    <ion-label>Cena Tarde</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content *ngIf="this.tipoDeMenu && this.servicio.evaluaNoHayContenidoPipe "   >
  <ion-list *ngFor="let platos of this.tipoDeMenu ">
    <h1> {{platos}}</h1>
    <ion-item *ngFor="let item of menus | pipemenus : platos">
      <ion-label>{{item.nombre}} </ion-label><ion-label class="aLaIzquierda">kcal: <ion-badge color="danger">{{item.calorias}}</ion-badge> </ion-label><ion-icon name="flame-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <h1 *ngIf="this.tipoDeMenu === null"> selecciona el tipo </h1>

  
</ion-content>