<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title>Sugerencias del Chef</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">OK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *ngFor="let item of this.sericioMenu">
  <ion-item>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Sugerencia del Chef {{item.servicio}}</ion-card-subtitle>
        <ion-card-title>{{item.nombre}}</ion-card-title>
        <img src="{{this.tiposDeImagenes.Otro}}" alt="">
      </ion-card-header>
    
      <ion-card-content>
        <ion-label>{{item.plato}}</ion-label>
        <ion-label>kcal: <ion-badge color="danger">{{item.calorias}}</ion-badge> </ion-label><ion-icon name="flame-outline"></ion-icon>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>