.content{

   padding-top: 40% ;
   background-color: #F76634

}

.labelInput{
    display: block;
    padding: 3%;
}
.margenes{
margin: 10%;
text-align: center;

}
.contendorCard{
   
    margin-top: 40% ;
        text-align: center;  
        
}
.contendor{
   
    margin-top: 40% ;
        text-align: center;  
        background-color: #F76634;
}
.labelInput{
    text-align: center;
}
.imgsodexo{

    height: 100%;
    width: 40%;
}
.Colimgsodexo{

    text-align: center;
}

.formatodeFondo{
    background-color: #F76634;
    
 }
 .titulo{
     text-align: center;
     background-color: #F76634;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color:#2C2F8B;
 }