<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      Cambiar Casino
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenedor" >

  <ion-card class="contendorCard">

    <ion-card-header class="margenes">
      <ion-card-subtitle>Bienvenido</ion-card-subtitle>
      <ion-card-title class="margenes"></ion-card-title>
      <img src="../../../assets/img/icono.png" class="imgsodexo" alt="">
    </ion-card-header>
  
    <ion-card-content >
      <ion-button expand="block" (click)="cargarCasino()">
        Buscar
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-content class="ion-padding formatodeFondo" *ngIf="veronover" >
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Ops! Algo anda mal!</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p style="text-align: center;">
           Casino no ha sido encontrado !
           <br>
           Revise el casino ingresado.
  
          </p>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>

</ion-content>

